In [7]:
import pandas as pd
df = pd.read_csv('BankChurners.csv')
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [9]:
# Replace 'male' with 1 and 'female' with 0
df['Gender'] = df['Gender'].replace({'M': 1, 'F': 0})

In [11]:
#Drop the last 2 column
df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], inplace=True)

In [13]:
df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'], inplace=True)

In [37]:
df.drop(columns=['CLIENTNUM'], inplace=True)

In [19]:
#Gender Z score
gendermean = df['Gender'].mean()
genderstd_dev = df['Gender'].std()
df['Gender-Z-Score'] = (df['Gender'] - gendermean) / genderstd_dev
print(df['Gender-Z-Score'] )

0        1.059903
1       -0.943389
2        1.059903
3       -0.943389
4        1.059903
           ...
10122    1.059903
10123    1.059903
10124   -0.943389
10125    1.059903
10126   -0.943389
Name: Gender-Z-Score, Length: 10127, dtype: float64

In [39]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace({'Existing Customer': 1, 'Attrited Customer': 0})

In [45]:
#Attrition_Flag Z score
Attrition_Flagmean = df['Attrition_Flag'].mean()
Attrition_Flagstd_dev = df['Attrition_Flag'].std()
df['Attrition_Flag-Z-Score'] = (df['Attrition_Flag'] - Attrition_Flagmean) / Attrition_Flagstd_dev
print(df['Attrition_Flag-Z-Score'] )

0        0.437485
1        0.437485
2        0.437485
3        0.437485
4        0.437485
           ...
10122    0.437485
10123   -2.285569
10124   -2.285569
10125   -2.285569
10126   -2.285569
Name: Attrition_Flag-Z-Score, Length: 10127, dtype: float64

In [41]:
#Customer_Age Z score
Customer_Agemean = df['Customer_Age'].mean()
Customer_Agestd_dev = df['Customer_Age'].std()
df['Customer_Age-Z-Score'] = (df['Customer_Age'] - Customer_Agemean) / Customer_Agestd_dev
print(df['Customer_Age-Z-Score'])

0       -0.165397
1        0.333554
2        0.583030
3       -0.789087
4       -0.789087
           ...
10122    0.458292
10123   -0.664349
10124   -0.290135
10125   -2.036465
10126   -0.414873
Name: Customer_Age-Z-Score, Length: 10127, dtype: float64

In [47]:
#Dependent_count Z score
Dependent_countmean = df['Dependent_count'].mean()
Dependent_countstd_dev = df['Dependent_count'].std()
df['Dependent_count-Z-Score'] = (df['Dependent_count'] - Dependent_countmean) / Dependent_countstd_dev
print(df['Dependent_count-Z-Score'])

0        0.503343
1        2.043098
2        0.503343
3        1.273221
4        0.503343
           ...
10122   -0.266534
10123   -0.266534
10124   -1.036411
10125   -0.266534
10126   -0.266534
Name: Dependent_count-Z-Score, Length: 10127, dtype: float64

In [53]:
#Education_Level
# Replace 'male' with 1 and 'female' with 0
df['Education_Level'] = df['Education_Level'].replace({'Unknown': 0, 'Uneducated': 1,'Post-Graduate': 4,'High School': 2,'Graduate': 3,
                                                       'College':5,'Doctorate':6})
# Education-Level -Z-score
Education_Levelmean = df['Education_Level'].mean()
Education_Levelstd_dev = df['Education_Level'].std()
df['Education_Level-Z-Score'] = (df['Education_Level'] - Education_Levelmean) / Education_Levelstd_dev
print(df['Education_Level-Z-Score'])

0       -0.270255
1        0.340927
2        0.340927
3       -0.270255
4       -0.881438
           ...
10122    0.340927
10123   -1.492621
10124   -0.270255
10125    0.340927
10126    0.340927
Name: Education_Level-Z-Score, Length: 10127, dtype: float64

In [59]:
df['Marital_Status'] = df['Marital_Status'].replace({'Unknown': 0, 'Single': 1,'Married':2,'Divorced':3 })
# Marital_Status -Z-score
Marital_Statusmean = df['Marital_Status'].mean()
Marital_Statusstd_dev = df['Marital_Status'].std()
df['Marital_Status-Z-Score'] = (df['Marital_Status'] - Marital_Statusmean) / Marital_Statusstd_dev
print(df['Marital_Status-Z-Score'])

0        0.628097
1       -0.727270
2        0.628097
3       -2.082636
4        0.628097
           ...
10122   -0.727270
10123    1.983463
10124    0.628097
10125   -2.082636
10126    0.628097
Name: Marital_Status-Z-Score, Length: 10127, dtype: float64

In [71]:
# Income_Category
df['Income_Category'] = df['Income_Category'].replace({'Unknown': 0, 'Less than $40K': 1,'$40K - $60K':2,'$60K - $80K':3
                                                      ,'$80K - $120K':4,'$120K +':5})
# Income_Category -Z-score
Income_Categorymean = df['Income_Category'].mean()
Income_Categorystd_dev = df['Income_Category'].std()
df['Income_Category-Z-Score'] = (df['Income_Category'] - Income_Categorymean) / Income_Categorystd_dev
print(df['Income_Category-Z-Score'])

0        0.812053
1       -0.711693
2        0.812053
3       -0.711693
4        0.812053
           ...
10122    0.050180
10123    0.050180
10124   -0.711693
10125    0.050180
10126   -0.711693
Name: Income_Category-Z-Score, Length: 10127, dtype: float64

In [75]:
#Card_Category
df['Card_Category'] = df['Card_Category'].replace({'Blue': 0, 'Silver': 1, 'Gold':2, 'Platinum':3})
#Card_Category
Card_Categorymean = df['Card_Category'].mean()
Card_Categorystd_dev = df['Card_Category'].std()
df['Card_Category-Z-Score'] = (df['Card_Category'] - Card_Categorymean) / Card_Categorystd_dev
print(df['Card_Category-Z-Score'])

0       -0.250574
1       -0.250574
2       -0.250574
3       -0.250574
4       -0.250574
           ...
10122   -0.250574
10123   -0.250574
10124   -0.250574
10125   -0.250574
10126    2.745371
Name: Card_Category-Z-Score, Length: 10127, dtype: float64

In [77]:
#Months_on_book
Months_on_bookmean = df['Months_on_book'].mean()
Months_on_bookstd_dev = df['Months_on_book'].std()
df['Months_on_book-Z-Score'] = (df['Months_on_book'] - Months_on_bookmean) / Months_on_bookstd_dev
print(df['Months_on_book-Z-Score'])

0        0.384602
1        1.010665
2        0.008964
3       -0.241461
4       -1.869225
           ...
10122    0.509814
10123   -1.368375
10124    0.008964
10125    0.008964
10126   -1.368375
Name: Months_on_book-Z-Score, Length: 10127, dtype: float64

In [81]:
#Total_Relationship_Count
Total_Relationship_Countmean = df['Total_Relationship_Count'].mean()
Total_Relationship_Countstd_dev = df['Total_Relationship_Count'].std()
df['Total_Relationship_Count-Z-Score'] = (df['Total_Relationship_Count'] - Total_Relationship_Countmean) / Total_Relationship_Countstd_dev
print(df['Total_Relationship_Count-Z-Score'])

0        0.763905
1        1.407237
2        0.120573
3       -0.522759
4        0.763905
           ...
10122   -0.522759
10123    0.120573
10124    0.763905
10125    0.120573
10126    1.407237
Name: Total_Relationship_Count-Z-Score, Length: 10127, dtype: float64

In [83]:
#Months_Inactive_12_mon
Months_Inactive_12_monmean = df['Months_Inactive_12_mon'].mean()
Months_Inactive_12_monstd_dev = df['Months_Inactive_12_mon'].std()
df['Months_Inactive_12_mon-Z-Score'] = (df['Months_Inactive_12_mon'] - Months_Inactive_12_monmean) / Months_Inactive_12_monstd_dev
print(df['Months_Inactive_12_mon-Z-Score'])

0       -1.327071
1       -1.327071
2       -1.327071
3        1.641397
4       -1.327071
           ...
10122   -0.337581
10123   -0.337581
10124    0.651908
10125    0.651908
10126   -0.337581
Name: Months_Inactive_12_mon-Z-Score, Length: 10127, dtype: float64

In [85]:
#Contacts_Count_12_mon
Contacts_Count_12_monmean = df['Contacts_Count_12_mon'].mean()
Contacts_Count_12_monstd_dev = df['Contacts_Count_12_mon'].std()
df['Contacts_Count_12_mon-Z-Score'] = (df['Contacts_Count_12_mon'] - Contacts_Count_12_monmean) / Contacts_Count_12_monstd_dev
print(df['Contacts_Count_12_mon-Z-Score'])

0        0.492379
1       -0.411596
2       -2.219546
3       -1.315571
4       -2.219546
           ...
10122    0.492379
10123    0.492379
10124    1.396355
10125    0.492379
10126    1.396355
Name: Contacts_Count_12_mon-Z-Score, Length: 10127, dtype: float64

In [89]:
#Credit_Limit
Credit_Limitmean = df['Credit_Limit'].mean()
Credit_Limitstd_dev = df['Credit_Limit'].std()
df['Credit_Limit-Z-Score'] = (df['Credit_Limit'] - Credit_Limitmean) / Credit_Limitstd_dev
print(df['Credit_Limit-Z-Score'])

0        0.446600
1       -0.041365
2       -0.573669
3       -0.585222
4       -0.430856
           ...
10122   -0.509304
10123   -0.479157
10124   -0.354608
10125   -0.368691
10126    0.193210
Name: Credit_Limit-Z-Score, Length: 10127, dtype: float64

In [91]:
#Total_Revolving_Bal
Total_Revolving_Balmean = df['Total_Revolving_Bal'].mean()
Total_Revolving_Balstd_dev = df['Total_Revolving_Bal'].std()
df['Total_Revolving_Bal-Z-Score'] = (df['Total_Revolving_Bal'] - Total_Revolving_Balmean) / Total_Revolving_Balstd_dev
print(df['Total_Revolving_Bal-Z-Score'])

0       -0.473399
1       -0.366649
2       -1.426788
3        1.661604
4       -1.426788
           ...
10122    0.844413
10123    1.255462
10124   -1.426788
10125   -1.426788
10126    0.979384
Name: Total_Revolving_Bal-Z-Score, Length: 10127, dtype: float64

In [93]:
#Avg_Open_To_Buy
Avg_Open_To_Buymean = df['Avg_Open_To_Buy'].mean()
Avg_Open_To_Buystd_dev = df['Avg_Open_To_Buy'].std()
df['Avg_Open_To_Buy-Z-Score'] = (df['Avg_Open_To_Buy'] - Avg_Open_To_Buymean) / Avg_Open_To_Buystd_dev
print(df['Avg_Open_To_Buy-Z-Score'])

0        0.488947
1       -0.008486
2       -0.445636
3       -0.734063
4       -0.302853
           ...
10122   -0.584900
10123   -0.591610
10124   -0.226621
10125   -0.240701
10126    0.105367
Name: Avg_Open_To_Buy-Z-Score, Length: 10127, dtype: float64

In [97]:
#Total_Amt_Chng_Q4_Q1
Total_Amt_Chng_Q4_Q1mean = df['Total_Amt_Chng_Q4_Q1'].mean()
Total_Amt_Chng_Q4_Q1std_dev = df['Total_Amt_Chng_Q4_Q1'].std()
df['Total_Amt_Chng_Q4_Q1-Z-Score'] = (df['Total_Amt_Chng_Q4_Q1'] - Total_Amt_Chng_Q4_Q1mean) / Total_Amt_Chng_Q4_Q1std_dev
print(df['Total_Amt_Chng_Q4_Q1-Z-Score'])

0        2.623365
1        3.563117
2        8.366801
3        2.942698
4        6.455363
           ...
10122   -0.259758
10123    0.200994
10124    0.269423
10125   -1.026157
10126   -0.259758
Name: Total_Amt_Chng_Q4_Q1-Z-Score, Length: 10127, dtype: float64

In [99]:
#Total_Trans_Amt
Total_Trans_Amtmean = df['Total_Trans_Amt'].mean()
Total_Trans_Amtstd_dev = df['Total_Trans_Amt'].std()
df['Total_Trans_Amt-Z-Score'] = (df['Total_Trans_Amt'] - Total_Trans_Amtmean) / Total_Trans_Amtstd_dev
print(df['Total_Trans_Amt-Z-Score'])

0       -0.959659
1       -0.916387
2       -0.740945
3       -0.951711
4       -1.056211
           ...
10122    3.259197
10123    1.283411
10124    1.732908
10125    1.174790
10126    1.733791
Name: Total_Trans_Amt-Z-Score, Length: 10127, dtype: float64

In [101]:
#Total_Trans_Ct
Total_Trans_Ctmean = df['Total_Trans_Ct'].mean()
Total_Trans_Ctstd_dev = df['Total_Trans_Ct'].std()
df['Total_Trans_Ct-Z-Score'] = (df['Total_Trans_Ct'] - Total_Trans_Ctmean) / Total_Trans_Ctstd_dev
print(df['Total_Trans_Ct-Z-Score'])

0       -0.973847
1       -1.357273
2       -1.911111
3       -1.911111
4       -1.570288
           ...
10122    2.221372
10123    0.176432
10124   -0.206995
10125   -0.121789
10126   -0.164392
Name: Total_Trans_Ct-Z-Score, Length: 10127, dtype: float64

In [103]:
#Total_Ct_Chng_Q4_Q1
Total_Ct_Chng_Q4_Q1mean = df['Total_Ct_Chng_Q4_Q1'].mean()
Total_Ct_Chng_Q4_Q1std_dev = df['Total_Ct_Chng_Q4_Q1'].std()
df['Total_Ct_Chng_Q4_Q1-Z-Score'] = (df['Total_Ct_Chng_Q4_Q1'] - Total_Ct_Chng_Q4_Q1mean) / Total_Ct_Chng_Q4_Q1std_dev
print(df['Total_Ct_Chng_Q4_Q1-Z-Score'])

0         3.833813
1        12.607950
2         6.807528
3         6.807528
4         7.508954
           ...
10122     0.608089
10123    -0.122739
10124     0.444283
10125     0.041068
10126    -0.265544
Name: Total_Ct_Chng_Q4_Q1-Z-Score, Length: 10127, dtype: float64

In [107]:
#Avg_Utilization_Ratio
Avg_Utilization_Ratiomean = df['Avg_Utilization_Ratio'].mean()
Avg_Utilization_Ratiostd_dev = df['Avg_Utilization_Ratio'].std()
df['Avg_Utilization_Ratio-Z-Score'] = (df['Avg_Utilization_Ratio'] - Avg_Utilization_Ratiomean) / Avg_Utilization_Ratiostd_dev
print(df['Avg_Utilization_Ratio-Z-Score'])

0       -0.775844
1       -0.616245
2       -0.997106
3        1.759599
4       -0.997106
           ...
10122    0.678681
10123    0.856416
10124   -0.997106
10125   -0.997106
10126   -0.311557
Name: Avg_Utilization_Ratio-Z-Score, Length: 10127, dtype: float64